<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Site Metas -->
    <title>Life Care - Responsive HTML5 Multi Page Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" th:href="@{/images/fevicon.ico.png}" type="image/x-icon" />
    <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Site CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Colors CSS -->
    <link rel="stylesheet" th:href="@{/css/colors.css}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" th:href="@{/css/versions.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!-- Modernizer for Portfolio -->
    <script th:src="@{/js/modernizer.js}"></script>
    <!-- [if lt IE 9] -->
</head>